footer {
    background-color: burlywood;
    width: 100%;
    padding: 20 px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.logo{
    width: 100px;
    position: relative;
    justify-content: center;
    align-items: center;
    margin: 15px;
}




