.wrapper {
  max-width:1600px;
  width: 100%;
  margin:auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.App {
  flex: 1;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: space-between;
}

