.body {
    background: url("./../../restaurant-1837150_1280.jpg") no-repeat;
    background-size: cover;
    display: flex;
    margin: 0px;
    height: 700px;
    width: auto;
    align-items: center;
}

.h1 {
    color: white;
    font-weight: bolder;
    margin:auto;
    vertical-align:middle;
}







